{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/jquery.dataTables.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/dataTables.bootstrap5.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'forms-table/table/data-table/components/datatable-basic-init.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/datatable/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/datatable/datatables/dataTables1.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/datatable/datatables/dataTables.bootstrap5.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/datatable/datatables/datatable.custom2.js')}}"></script>

{% endblock %}