{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/flatpickr/flatpickr.min.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'forms-table/forms/form-widgets/components/datepicker.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/flat-pickr/flatpickr.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/flat-pickr/custom-flatpickr.js')}}"></script>

{% endblock %}