{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/vector-map.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'miscellaneous/maps/components/vector-map.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/vector-map/jquery-jvectormap-2.0.2.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-us-aea-en.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-uk-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-au-mill.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-in-mill.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map/jquery-jvectormap-asia-mill.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/vector-map/map-vector.js')}}"></script>

{% endblock %}