{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/animation/components/tilt.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/animation/tilt/tilt.jquery.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/animation/tilt/tilt-custom.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/height-equal.js')}}"></script>

{% endblock %}