{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/calendar.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'applications/calendar/components/calendar-basic.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/calendar/fullcalendar.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/calendar/fullcalendar-custom.js')}}"></script>

{% endblock %}
  