{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'forms-table/forms/form-controls/components/input-mask.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/cleave/cleave.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/cleave/custom-cleave.js')}}"></script>

{% endblock %}