{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/vendors/quill.snow.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'applications/mail-box/components/mail-box.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename='assets/js/blockui/custom-blockui1.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/blockui/custom-freeze1.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/trash.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/letter-box/custom-mail-pagination.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/letter-box/custom-usermail.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/editors/quill.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/editors/custom-quill.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/print.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
    
{% endblock %} 