{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/bonus-ui/components/draggable-card.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/sortable/sortable.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/dragable/sortable-custom.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/height-equal.js')}}"></script>

{% endblock %}