{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/bonus-ui/components/modal-animated.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/modal-animated.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/modal-animated1.js')}}"></script>

{% endblock %}