{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/scrollable.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/bonus-ui/components/scrollable.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/scrollable/perfect-scrollbar.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/scrollable/scrollable-custom.js')}}"></script>

{% endblock %}