{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/tour.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/bonus-ui/components/tour.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/tour/intro.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/tour/intro-init.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/tooltip-init.js')}}"></script>

{% endblock %}