{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/quill.snow.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/quill.bubble.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'miscellaneous/editors/components/quilleditor.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/editors/quill.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/custom-add-product3.js')}}"></script>

{% endblock %}