{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/charts/components/chart-knob.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/chart/knob/knob.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/chart/knob/knob-chart.js')}}"></script>

{% endblock %}