{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'assets/css/vendors/select/bootstrap-select.min.css')}}">
{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'applications/ecommerce/components/checkout.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/form-wizard/custom-number-wizard.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/form-validation-custom.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/custom_seller.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/select/bootstrap-select.min.js')}}"></script>

{% endblock %} 