{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}
  
  <div class="page-body">
    <div class="container-fluid">
      {% include 'layout/breadcrumb.html' %}
    </div>
    {% include 'components/icons/components/ico-icon.html' %}
  </div>

{% endblock %}  

{% block scriptcontent %}
        
<script src="{{ url_for('static', filename =  'assets/js/notify/bootstrap-notify.min.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/icons/icons-notify.js')}}"></script>
<script src="{{ url_for('static', filename =  'assets/js/icons/icon-clipart.js')}}"></script>

{% endblock %}